.card-container{
    background-color: white;
    width:80%;
    
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    gap: 8rem;
    grid-template-columns: repeat(auto-fill,minmax(18rem, 1fr))
}
.card-main{
    width:100%;
    background: white;
}
